<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
       {% if search %}
       <title>sdb: {{article_dir}}/{{search}}</title>
       {% else %}
       <title>sdb: {{article_dir}}</title>
       {% endif %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    <link rel="shortcut icon"  href="{{url_for('static', filename='favicon.ico')}}"/>
  </head>
  <body>
    <div class="sbd">
       {% if search %}
       <h1>Bibliography for “{{search}}” in “{{article_dir}}”</h1>
       {% else %}
       <h1>Bibliography for “{{article_dir}}”</h1>
       {% endif %}
       {% if tags %}
       <div class="tags"><span class="tags">Tags</span> {{tags|safe}}</div>
       {% endif %}
       {% if entries %}
       <dl>
           {% for e in entries %}
           <dt class="sbd">{{e.key}}</dt>
           <dd class="sbd">
               {{e.reference|safe}}<br/>
               <span class="label">Added:</span>
               <span class="timestamp">{{e.importDate}}</span><br/>
               {% if e.tags %}
               <span class="label">Tags: </span>
               {% for t in e.tags %}
               <a class="tags" href="/tag/{{t}}">{{t}}</a>{% if not loop.last %},{% endif %}
               {% endfor %}
               <br/>
               {% endif %}
               {% if e.attachments %}
               <span class="label">Attachments: </span>
               {% for a in e.attachments %}
               <a class="attachment" href="/attachment/{{a.file}}">{{a.name}}</a>{% if not loop.last %},{% endif %}
               {% endfor %}
               <br/>
               {% endif %}
               <a class="pdf" target="_blank" href="/{{e.key}}.pdf"></a>
               <a class="bib" target="_blank" href="/{{e.key}}.bib"></a>
               <a class="meta" target="_blank" href="/metadata/{{e.key}}"></a>
               <br/>
           </dd>
           {% endfor %}
       {% else %}
            Nothing found
       {% endif %}
       </dl>
    </div>
  </body>
</html>
