<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
       {% if search %}
       <title>sdb: {{article_dir}}/{{search}}</title>
       {% else %}
       <title>sdb: {{article_dir}}</title>
       {% endif %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    <link rel="shortcut icon"  href="{{url_for('static', filename='favicon.ico')}}"/>
  </head>
  <body>
    <div class="sbd">
       {% if search %}
       <h1>Bibliography for “{{search}}” in “{{article_dir}}”</h1>
       {% else %}
       <h1>Bibliography for “{{article_dir}}”</h1>
       {% endif %}
       {% if tags %}
       <div class="tagBar">{{tags|safe}}</div>
       {% endif %}
       {% if entries %}
       {% for e in entries %}
       <div class='entry'>
           <div class='key'>{{e.key}}</div>
           <div class='timestamp'>{{e.importDate}}</div>
           <div class='reference'>
               {{e.reference|safe}}
           </div>
           {% if e.attachments %}
           <div class='attLabel'> </div>
           <div class='attachments'>
              {% for a in e.attachments %}
              <a class="attachment" href="/attachment/{{a.file}}">{{a.name}}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
           </div>
           {% endif %}
           {% if e.tags %}
           <div class='tagLabel'> </div>
           <div class='tags'> 
               {% for t in e.tags %}
               <a class="tags" href="/tag/{{t}}">{{t}}</a>
               {% endfor %}
           </div>
           {% endif %}
           <div class='links'>
               <a class="pdf" target="_blank" href="/{{e.key}}.pdf"></a>
               <a class="bib" target="_blank" href="/{{e.key}}.bib"></a>
           </div>
       </div>
       {% endfor %}
       {% else %}
            Nothing found
       {% endif %}
    </div>
  </body>
</html>
