<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>sdb</title>
    <link rel="stylesheet" type="text/css" href="/style.css"> 
  </head>
  <body>
          <table class='search'>
{% for e in results %}
            <tr class="search">
                <td>[<a class="citekey" href="/entry/{{e.key}}">{{e.key}}</a>]</td>
                <td>{{e.authors|safe}}</td>
                <td>{{e.year|safe}}</td>
                <td>{{e.title|safe}}</td>
                <td>{{e.journal|safe}}</td>
            </tr>
            <tr class="search">
                <td colspan="5">
                    <a class="file" href="/pdf/{{e.key}}.pdf">PDF</a>
{% for t in e.tags %}
                    <a class="tag" href="/search?tag={{t}}">{{t}}</a>
{% endfor %}
{% if e.note %}
                    <a class="note" href="/entry/{{e.key}}">Note</a>
{% endif %}
                    <a class="doi" href="http://dx.doi.org/{{e.doi}}">{{e.doi}}</a>
                </td>
            </tr>
{% endfor %}
          </table>
  </body>
</html>
