<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>sdb: {{key}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css"> 
  </head>
  <body>
      <div id='top'>
          <h1>{{authors|safe}} ({{year|safe}})</h1>
{% if abstract %}
          <h2>Abstract</h2>
          <div id='abstract'>{{abstract}}</div>
{% endif %}
{% if note %}
          <h2>Note</h2>
          <p>{{note|safe}}</p>
{% endif %}
{% if tags %}
          <h2>Tags</h2>
          <p>
    {% for t in tags %}
            <a class="tag" href="search?tag={{t}}">{{t}}</a>
    {% endfor %}
          </p>
{% endif %}
          <h2>Citation</h2>
          <div id="citation">
              {{citation|safe}}
          </div>
          <h2>Files</h2>
          <p>
              <a class="file" href="/pdf/{{key}}.pdf">Pdf</a>
          </p>
      </div>
  </body>
</html>
